# Ignore virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Outputs
logs/
models/
reports/

# Ignore dataset images (VERY IMPORTANT)
data/HAM10000/images/

# System files
.DS_Store
Thumbs.db